body {
  font-family: "Proza Libre", sans-serif;
  font-size: 16px;
}

header > .container {
  font-size: 1.25rem;
  font-weight: 400, normal;
  line-height: 1.706rem;
  margin-top: 0;
  padding-top: 0.812rem;
  padding-bottom: 0.688rem;
}

p {
  margin: 0;
}

.theme {
  color: white;
  background-color: #562b81;
}

main {
  min-height: 100vh;
  padding-top: 1rem;
  background-color: #f0f0f0;
  font-weight: 600;
}

.column-full > h1 {
  color: #292929;
  font-size: 1.875rem;
  margin-top: 0;
  margin-bottom: 1.312rem;
}

.column-half > img {
  width: 100%;
  height: 17.85rem;
  object-fit: cover;
  margin-bottom: 1.125rem;
}

@media screen and (min-width: 768px) {
  .column-half > img {
    height: 20.737rem;
    margin-bottom: 0;
  }
}

.text-right {
  text-align: right;
}

input[type="text"],
input[type="url"],
textarea {
  width: 100%;
  border: 1px solid #b6b6b6;
  border-radius: 0.25rem;
}

input[type="text"],
input[type="url"] {
  height: 2.5rem;
}

input[type="text"] {
  margin-bottom: 1.625rem;
}

input[type="url"] {
  margin-bottom: 1.625rem;
}

textarea {
  height: 9.313rem;
  margin-top: 0.6rem;
  margin-bottom: 0.938rem;
}

.notes-box {
  margin-top: 1.6rem;
}

button.theme {
  border: 0 solid;
  border-radius: 0.25rem;
  cursor: pointer;
  height: 2rem;
  width: 4.5rem;
  font-family: "Open Sans", sans-serif;
}
